# IDE
/.idea/workspace.xml
/.idea/claudeCodeTabState.xml
/.idea/CoolRequestSetting.xml
/.idea/swift-toolchain.xml

# macOS
.DS_Store
**/.DS_Store

# Swift Package Manager
/.swiftpm/
/.build/

# Xcode
*.xcodeproj/
xcuserdata/
*.xcuserstate

# Build output
/dist/